body {
  background: #252525;
}

.verify-heading {
  font-size: 80px;
  color: #fff;
  font-weight: bold;
}

.verifySubHeading {
  color: #d2d2d2;
}

.field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  transition: all 0.3s ease;
  background: transparent;
  color: #fff;
}

field input:focus, .field input:valid {
  border-color: #D72323;
}

.field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.field input:focus ~ label, .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #fff;
  background: #2a2a2a;
  transform: translateY(-50%);
  padding: 3px;
}

.docVerifyContainer {
  border-radius: 10px;
  background: rgb(50,50,50);
}

.notVerifyPara {
  font-size: 36px;
  font-weight: bold;
}

.firstContainer {
  margin-top: 5%;
}

.verifyButton {
  font-weight: bold;
}

.verifiedContainer {
  border-radius: 10px;
  margin-top: 10%;
}

.vrifiedImage {
  width: 200px;
}

.verifyImage {
  height: 131px;
}

@media (max-width: 480px) {
  .verified-man {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .verify-heading {
    font-size: 62px;
  }
}

.nav-item:active {
  color: var(--bs-red)!important;
}

/* LOGIN */

.login-heading {
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

.loginPara {
  font-family: Poppins, sans-serif;
}

.loginDiv {
  margin-top: 50px;
  max-width: 500px;
  min-width: 280px;
  width: 100%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  background: #2a2a2a;
  border-radius: 10px;
}

.loginLink {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

.loginLink:hover {
  text-decoration: none;
  color: #D72323;
  font-weight: 500;
}

.loginButton {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  background: #D72323;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
}

.loginTermsPara {
  margin-top: 20px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
}

.signupSelect {
  background: rgba(255,255,255,0);
  color: gray;
  background: #252525 !important;
  font-family: Poppins, sans-serif;
  border-radius: 10px;
}

.loyaltyContainer {
  max-width: 700px;
  min-width: 280px;
  width: 100%;
  border-radius: 10px;
  padding: 40px;
  background: #2a2a2a;
}

.counter {
  font-size: 14em;
  font-weight: 700;
}

/* profile */

.user-image {
  width: 200px;
}

/* deposit */

.deposit-logo-div {
  border-radius: 10px;
  border: 1px solid var(--bs-gray-700) ;
  margin-top: 15px;
  filter: grayscale(70%);
  transition: 1s;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deposit-logo-div:hover {
  filter: grayscale(0%);
  transition: 1s;
  cursor: pointer;
  transition-delay: .01s;
  background: #393939;
}

.font {
  font-family: 'Poppins';
}

.depositSelect {
  height: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.depositColumn {
  border-radius: 10px;
  border: 1px solid rgba(220,53,69,0.3) ;
}

.depositAmount {
  background: #363636;
  border-radius: 10px;
  padding: 10px;
}

.depositExchangeRate {
  padding: 40px;
  border-radius: 10px;
  background: #363636;
  margin-top: 10px;
}

/* Account */

.accountHeading {
  font-size: 44px;
}

