body {
  background: #252525;
  overflow-x: hidden;
}

.verify-heading {
  font-size: 80px;
  color: #fff;
  font-weight: bold;
}

.verifySubHeading {
  color: #d2d2d2;
}

.field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  transition: all 0.3s ease;
  background: transparent;
  color: #fff;
}

field input:focus, .field input:valid {
  border-color: #d72323;
}

.field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.field input:focus ~ label, .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #fff;
  background: #2a2a2a;
  transform: translateY(-50%);
  padding: 3px;
}

.docVerifyContainer {
  border-radius: 10px;
  background: rgb(50, 50, 50);
}

.notVerifyPara {
  font-size: 36px;
  font-weight: bold;
}

.firstContainer {
  margin-top: 5%;
}

.verifyButton {
  font-weight: bold;
}

.verifiedContainer {
  border-radius: 10px;
  margin-top: 10%;
}

.vrifiedImage {
  width: 200px;
}

.verifyImage {
  height: 131px;
}

@media (max-width: 480px) {
  .verified-man {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .verify-heading {
    font-size: 62px;
  }
}

.nav-item:active {
  color: var(--bs-red) !important;
}

/* LOGIN */

.login-heading {
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

.loginPara {
  font-family: Poppins, sans-serif;
}

.loginDiv {
  margin-top: 50px;
  max-width: 500px;
  min-width: 280px;
  width: 100%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  background: #2a2a2a;
  border-radius: 10px;
}

.loginLink {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

.loginLink:hover {
  text-decoration: none;
  color: #d72323;
  font-weight: 500;
}

.loginButton {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  background: #d72323;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
}

.loginTermsPara {
  margin-top: 20px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
}

.signupSelect {
  background: rgba(255, 255, 255, 0);
  color: gray;
  background: #252525 !important;
  font-family: Poppins, sans-serif;
  border-radius: 10px;
}

.loyaltyContainer {
  max-width: 700px;
  min-width: 280px;
  width: 100%;
  border-radius: 10px;
  padding: 40px;
  background: #2a2a2a;
}

.counter {
  font-size: 14em;
  font-weight: 700;
}

/* profile */

.user-image {
  width: 200px;
}

/* deposit */

.deposit-logo-div {
  border-radius: 10px;
  border: 1px solid var(--bs-gray-700);
  margin-top: 15px;
  filter: grayscale(70%);
  transition: 1s;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deposit-logo-div:hover {
  filter: grayscale(0%);
  transition: 1s;
  cursor: pointer;
  transition-delay: 0.01s;
  background: #393939;
}

.font {
  font-family: "Poppins";
}

.depositSelect {
  height: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.depositColumn {
  border-radius: 10px;
  border: 1px solid rgba(220, 53, 69, 0.3);
}

.depositAmount {
  background: #363636;
  border-radius: 10px;
  padding: 10px;
}

.depositExchangeRate {
  padding: 40px;
  border-radius: 10px;
  background: #363636;
  margin-top: 10px;
}

/* Account */

.accountHeading {
  font-size: 44px;
}

/* index */

.tutorialThumbnail {
  border-radius: 10px;
  max-width: 400px;
  min-width: 250px;
  width: 100%;
}

.headingContainer {
  margin-top: 100px;
}

@media (min-width: 576px) {
  .whyImage {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    object-fit: contain;
    transform: scale(.8);
  }
}

.whyImage {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  object-fit: contain;
}

.subTopic {
  font-size: 44px;
  font-weight: 700;
}

.imageSection {
  height: 600px;
  width: 100%;
  background: linear-gradient( 180deg, #252525, rgba(27, 27, 27, 0.9159420289855073) 44%, rgba(0, 0, 0, 0.7) ) center / cover no-repeat fixed, url("../../assets/img/download%20(2).jpg") center / cover no-repeat fixed;
}

@media (max-width: 576px) {
  .indexContainer {
    margin-top: 40px;
  }
}

.indexContainer {
  margin-top: 150px;
}

.homeSubTopics {
  font-weight: bold;
  font-family: Allerta, sans-serif;
  font-size: 52px;
  color: var(--bs-white);
}

.bottomContainer {
  background: url("../../assets/img/wave.svg") repeat-x;
  height: 300px;
  background-size: contain;
}

.mainHeading {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  margin-top: 20%;
}

@media (max-width: 576px) {
  .mainHeading {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20%;
  }
}

.mainContainer {
  min-height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), #252525), url("../../assets/img/bg1.jpg") center / cover no-repeat;
  overflow: hidden;
}

.blurRow {
  background-image: radial-gradient( circle closest-corner at 20% 38%, rgb(250 73 73 / 35%), #252525 60% );
}

.mainSection {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSection h1 {
  position: relative;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
}

.mainSection img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainButton {
  font-weight: bold;
}

.mainRow {
  background: linear-gradient(#c23341 0%, rgba(255, 255, 255, 0) 68%), url("../../assets/img/about_img01.png") center / contain no-repeat;
  opacity: 0.70;
}

.dollors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  max-width: 1920px;
  min-width: 280px;
}

.dollors span:nth-child(even) {
  color: #8f8e8e;
}

.dollors span {
  font-weight: bolder;
  font-size: 36px;
  color: darkred;
  animation: animateDollors 15s linear infinite;
  animation-duration: calc(125s/var(--i));
}

@keyframes animateDollors {
  0% {
    transform: translateY(100vh) scale(0.5);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

.mainColumn {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  .mainColumn {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 40%;
  }
}

.dollorContainer {
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 576px) {
  #whyUp {
    margin-top: -200px;
  }
}

/* Transcation history */

.historyMainDiv {
  background: #363636;
  padding: 10px;
  border-radius: 10px;
}

.transPara {
  font-size: 12px;
  margin-bottom: 0px;
  color: #ffffff;
}

.myModal {
  top: 20%;
}

@media (max-width: 576px) {
  .transHeading {
    font-size: 16px;
  }
}

.viewMoreContent {
  display: none;
}

.viewMoreContent--show {
  display: inline;
}

.viewMoreBtn {
  cursor: pointer;
  font-size: 14px;
}

.termsDiv {
  border-radius: 10px;
  border: 1px solid rgb(128,130,132) ;
  height: 200px;
  overflow-y: scroll;
}

.red {
  color: #e43c5c;
}

.footerMargin {
  margin-top: 150px;
}

@media (max-width: 768px) {
  .scale {
    transform: scale(.6);
  }
}

#overviewDiv {
  max-width: 1000px !important;
}

