@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  background: #252525;
}
/* Colors */
:root {
  --red-color: #d72323;
  --bg-color: #252525;
}
.dark {
  background: #252525 !important;
}
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #252525;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  /* border-bottom: #fff solid 1px;*/
}
nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  width: 100px;
  height: 80px;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  z-index: 99;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
.nav-check {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: var(--red-color);
  }
}

/* Login */

.wrapper {
  max-width: 500px;
  min-width: 280px;
  background: transparent;
  border-radius: 11px;
}
.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 10px 10px 0 0;
  background: transparent;
}
.wrapper form {
  padding: 10px 30px 50px 30px;
}
.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding-left: 20px;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 10px;
  transition: all 0.3s ease;
  background: transparent;
  color: #fff;
}
.wrapper form .field input:focus,
form .field input:valid,
#phone:focus {
  border-color: var(--red-color);
}
.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #fff;
  background: var(--bg-color);
  transform: translateY(-50%);
  padding-left: 5px;
  padding-right: 5px;
}
form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
#terms {
  border-radius: 10px;
  border: 2px solid #999999;
  color: var(--red-col);
  margin-top: 20px;
}
form .content input {
  width: 15px;
  height: 15px;
  background: var(--red-color);
}
form .content label {
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link {
  color: "";
}
form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: var(--red-color);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active {
  transform: scale(0.95);
}
form .signup-link {
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a {
  color: gray;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
}
/* Resopnsive */
@media only screen and (min-width: 480px) {
  .wrapper {
    width: 500px;
  }
  .footer {
    position: fixed !important;
  }
}
@media only screen and (max-width: 480px) {
  .wrapper {
    margin-top: 70%;
  }
  .wrapper .title {
    font-size: 24px;
    border-radius: 10px 10px 0 0;
    line-height: 50px;
  }
  .wrapper form .field input,
  #phone {
    font-size: 14px;
    padding: 5px;
    border-radius: 5px !important;
  }
  .terms-link {
    font-size: 14px;
  }

  .wrapper form .field input {
    /* font-size: 14px; */
  }
}

.privacy-link {
  text-decoration: none !important;
  color: gray !important;
}

.footer {
  /* position: fixed; */
  left: 0;
  align-items: center;
  height: 40px;
  bottom: 0;
  width: 100%;
  background-color: #252525;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 100px;
  /* border-top: #fff solid 1px; */
}

/* Sign Up */
#phone {
  max-width: 440px !important;
  width: 100% !important;
  min-width: 200px !important;
  outline: none;
  font-size: 16px;
  padding: 10px;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 10px;
  transition: all 0.3s ease;
  background: transparent;
  color: #fff;
  margin-top: 20px !important;
}
.dob {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding-left: 20px;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 10px;
  transition: all 0.3s ease;
  background: transparent;
  color: gray;
}
